body {
    font-family:"Roboto",sans-serif;
    color: #434455;
    background-color: var(--white1);
   }
:root{
    --white1: #FFFFFF;
    --blue1:#4d5ae5;
    --dark_grey1:#2E2F42;
    --blue2:#404bbf;
    --dark_grey2:#434455;
    --white2:#f4f4fd;
    }
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--blue1);
    }
.link{
    text-decoration: none;
    }
.studio{
    color:var(--dark_grey1);
    }
.list{
    list-style: none;
    }
.points{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--dark_grey1);
    }
.link:hover{
    color:var(--blue2);
    }
.link:focus{
    color:var(--blue2);
    }
.address{
    font-style: normal;
    }
.address_points{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--dark_grey2);
    }
.section_one{
    background-color:var(--dark_grey1);
    }
.header_section_one{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--white1);
    }
.header_button{
    background-color:var(--blue1);
    font-family:"Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:var(--white1);
    cursor: pointer;
    }
.header_button:hover{
    background-color:var(--blue2);
    }
.header_button:focus{
    background-color:var(--blue2);
    }
.headers_section_two {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--dark_grey1);
    }
.paragraphs_section_two {
    color: var(--dark_grey2);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
.header_section_three{
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--dark_grey1);
    }
.section_four{
    background-color:var(--white2);
    }
.section_points{
    background-color:var(--white1);
    }
.workers_name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark_grey1);
    }
.paragraph_section_four{
    color:var(--dark_grey2);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
.footer{
    background-color:var(--dark_grey1);
}
.studio_footer{
    color: var(--white2);
    }
.paragraph_footer{
    line-height: 1.5;
    color: var(--white2);
    letter-spacing: 0.02em;
}