body {
    font-family:"Roboto",sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
:root{
    --zmienne-css-nazwa:
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    }
.link{
    text-decoration: none;
    }
.studio{
    color:#2E2F42;
    }
.list{
    list-style: none;
    }
.points{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2E2F42;
    }
.link:hover{
    color: #404bbf;
    }
.link:focus{
    color: #404bbf;
    }
.address{
    font-style: normal;
    }
.address_points{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }
.section_one{
    background-color: #2e2f42;
    }
.header_section_one{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    }
.header_button {
    background-color: #4D5AE5;
    font-family:"Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    }
.header_button:hover{
    background-color: #404bbf;
    }
.header_button{
    background-color: #404bbf;
    }